version: 2

updates:
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: monthly
    commit-message:
      prefix: 'chore(deps): '
    target-branch: main
    open-pull-requests-limit: 5
    groups:
      docker-minor:
        update-types:
          - minor
          - patch
      docker-major:
        update-types:
          - major
    labels:
      - docker
      - dependencies
      - dependabot

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    target-branch: main
    open-pull-requests-limit: 5
    commit-message:
      prefix: 'chore(deps): '
    groups:
      actions-minor:
        update-types:
          - minor
          - patch
      actions-major:
        update-types:
          - major
    labels:
      - github-actions
      - dependencies
      - dependabot
